* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(rgba(19, 116, 155, 0.3)), to(rgba(197, 21, 21, 0.4)));
  background: -webkit-linear-gradient(left, rgba(19, 116, 155, 0.3), rgba(197, 21, 21, 0.4));
  background: -o-linear-gradient(left, rgba(19, 116, 155, 0.3), rgba(197, 21, 21, 0.4));
  background: linear-gradient(to right, rgba(19, 116, 155, 0.3), rgba(197, 21, 21, 0.4));
}


.loader {
    background: -webkit-gradient(linear, left top, right top, from(rgba(19, 116, 155, 0.5)), to(rgba(197, 21, 21, 0.5)));
    background: -webkit-linear-gradient(left, rgba(19, 116, 155, 0.5), rgba(197, 21, 21, 0.5));
    background: -o-linear-gradient(left, rgba(19, 116, 155, 0.5), rgba(197, 21, 21, 0.5));
    background: linear-gradient(to right, rgba(19, 116, 155, 0.5), rgba(197, 21, 21, 0.5));
    height: 0%;
    width: 0%;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    position: fixed;
}

.loader #loadingText {
  text-align: center;
  margin-top: 12.5em;
  text-transform: uppercase;
  color: rgba(255,255,255,.6);
  opacity: 0;
}

#apiContent {
    display: none; 
    position: fixed;  
    background: -webkit-gradient(linear, left top, right top, from(rgba(219, 219, 219, 0.5)), to(rgba(0,0,0,.9)));  
    background: -webkit-linear-gradient(left, rgba(219, 219, 219, 0.5), rgba(0,0,0,.9));  
    background: -o-linear-gradient(left, rgba(219, 219, 219, 0.5), rgba(0,0,0,.9));  
    background: linear-gradient(to right, rgba(219, 219, 219, 0.5), rgba(0,0,0,.9)); 
    width: 0%; 
    height: 0%;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#apiContent header {
  padding: 15px 0 15px 0; 
}


#apiContent header #closeGallery {
    text-align: center;
    color: rgba(255,255,255,.4);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#apiContent header #closeGallery:hover {
    cursor: pointer; 
    -webkit-transform: scale(1.1); 
        -ms-transform: scale(1.1); 
            transform: scale(1.1); 
    color: rgba(255,255,255,.5);

}

#apiContent .famousApi {
  width: 60%;
  height: 100%;
  background: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 10px 2px rgba(255,255,255,.5);
          box-shadow: 0 0 10px 2px rgba(255,255,255,.5); 
  margin: 1em auto; 
  overflow-y: scroll;
}

#apiContent .famousApi h1 {
  text-align: center;
  padding: 20px 0 20px 0; 
  background-color: rgba(255,255,255,.2);
  color: rgba(255,255,255,.4);
}

#apiContent .famousApi .people {
    display: -ms-grid;
    display: grid; 
    -ms-grid-rows: (200px)[9]; 
    -ms-grid-columns: (1fr)[2]; 
        grid-template: repeat(9, 200px) / repeat(2, 1fr); 

}

#apiContent .famousApi .people #picture {
  -ms-grid-column: 1;
  grid-column: 1/1;
  
}

#apiContent .famousApi .people #picture div {
    background: rgba(8, 8, 8, 0.3);
    height: 200px;
    border-bottom: 1px solid white;
}

#apiContent .famousApi .people #picture div img {
  width: 300px;
  height: 170px;
  margin: .8em 25%; 
  text-align: center; 
  -webkit-box-shadow: 0 0 10px 2px rgba(255,255,255,.4); 
          box-shadow: 0 0 10px 2px rgba(255,255,255,.4);
}

#apiContent .famousApi .people #content {
  -ms-grid-column: 2;
  grid-column: 2/2;
}


#apiContent .famousApi .people #content div {
    background: rgba(255,255,255,.3);
    height: 200px;
    border-bottom: 1px solid white;
}


#apiContent .famousApi .people #content p {
    line-height:  30px;
    margin-left: 2%;
    color: rgba(255,255,255,.4);
    font-size: 1em;
}

.top_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-orient: horizontal; 
  -webkit-box-direction: normal; 
      -ms-flex-direction: row; 
          flex-direction: row; 
  background-color: rgba(0,0,0,.565);
  padding: .5em 0em 1.5em 0em; 
  -webkit-box-shadow: 0 0 1em .4em rgba(0,0,0,.4); 
          box-shadow: 0 0 1em .4em rgba(0,0,0,.4);
  margin-bottom: 2em;
}

.top_head #main_header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin-top: .6em;
    margin-left: .8%;
    color: rgba(255,255,255,.4);
    text-transform: uppercase;
    font-size: 1.6em;
}


.top_head .navigation {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-top: 1.2em;
}

.top_head .navigation .struct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 2em;
  list-style-type: none;
}

.top_head .navigation .struct li {
  margin-left: 2.5em; 
  font-size: 1.2em;
  outline: none; 
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255,255,255,.4);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.top_head .navigation .struct li:hover {
  color: rgba(255,255,255,.5);
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  cursor: pointer;
}

#mobile-nav {
  display:none;
}


section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (50em)[1];
  -ms-grid-columns: (2, 1fr);
      grid-template: repeat(1, 50em) / (2, 1fr);
  background: rgba(0,0,0,.565); 
  -webkit-box-shadow: 0 0 1em .2em rgba(0,0,0,.9); 
          box-shadow: 0 0 1em .2em rgba(0,0,0,.9);
  border-radius: 1em;
  width: 70%;
  height: 41em;
  margin: 0 auto;
}

.main_section {
  margin-top: 5em;
}

.section.main_section > #description {
  -ms-grid-column: 2;
  grid-column: 2/2; 
  -ms-grid-row: 1; 
  grid-row: 1/1;
  text-align: center;
}

.section.main_section > #welcome {
  text-align: center;
  -ms-grid-column: 1;
  grid-column: 1/1; 
  -ms-grid-row: 1; 
  grid-row: 1/1;
  text-align: center;
  border-right: 1px solid rgba(255,255,255,.2);
}

.section.main_section > #description > h1 {
  padding: 1em 0em 1em 0em; 
  background: rgba(31, 64, 172, 0.2);
  -webkit-box-shadow: 2px 0 1em .2em rgba(255,255,255,.3);
          box-shadow: 2px 0 1em .2em rgba(255,255,255,.3);
  text-transform: uppercase;
  color: rgba(255,255,255,.5);  
  font-size: 1.3em;
} 

.section.main_section > #description > .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0em auto;
  width: 50%;
  height: 80%;
 
}

.section.main_section > #description >.buttons > button:nth-child(1) {
  margin-top: 5.5em;
  background: rgba(173, 65, 65, 0.2);
}

.section.main_section > #description >.buttons > button:nth-child(2) {
  background: rgba(65, 173, 65, 0.2);
}

.section.main_section > #description >.buttons > button:nth-child(3) {
  background: rgba(65, 65, 173, 0.2);
}


.section.main_section > #description > .buttons > button {
  margin-top: 4em;
  padding: 2em;
  text-transform: uppercase;
  border-radius: .6em;
  border: 1px solid rgba(110,110,110,.4);
  outline: none;
  color: rgba(255,255,255,.5);  
  -webkit-box-shadow: 2px 0 1em .2em rgba(255,255,255,.3);  
          box-shadow: 2px 0 1em .2em rgba(255,255,255,.3);
  font-weight: 600;
  -webkit-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.section.main_section > #description > .buttons > button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 2px 0 1em .2em rgba(255,255,255,.5);
          box-shadow: 2px 0 1em .2em rgba(255,255,255,.5);
}



.section.main_section > #welcome > h1 {
  padding: 1em 0em 1em 0em; 
  background: rgba(173, 65, 65, 0.2);
  -webkit-box-shadow: 2px 0 1em .2em rgba(255,255,255,.3);
          box-shadow: 2px 0 1em .2em rgba(255,255,255,.3);
  text-transform: uppercase;
  color: rgba(255,255,255,.5);  
  font-size: 1.3em;
} 

.section.main_section > #welcome > #welcomeText {
  text-align: center;
  font-family: sans-serif;
  height: 50%;
  width: 80%;
  margin: 5em auto;
  border-radius: .5em;
  -webkit-box-shadow: 0 0 1em .2em rgba(255,255,255,.3);
          box-shadow: 0 0 1em .2em rgba(255,255,255,.3);
  -webkit-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease; 
}

section.main_section > #welcome > #welcomeText > p {
  margin-top: 2em;
  padding: 1em 0em 1.3em 0em;
  text-transform: uppercase;
  color: rgba(255,255,255,.5);
  background: rgba(252, 147, 147, 0.12); 
  -webkit-box-shadow: 0 0 1em .05em rgba(0,0,0,.165); 
          box-shadow: 0 0 1em .05em rgba(0,0,0,.165);
  -webkit-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;

}


.section.main_section > #welcome > #welcomeText:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background: rgba(255,255,255,.04);
  -webkit-box-shadow: 0 0 1em .2em rgba(255,255,255,.5);
          box-shadow: 0 0 1em .2em rgba(255,255,255,.5);
  color: rgba(255,255,255,.5);
 
}

.section.main_section > #welcome > #welcomeText:hover > p{
  color: rgba(255,255,255,.5);
  background: rgba(173, 65, 65, 0.2);
 
}

.section.main_section > #welcome > #welcomeText > ul{
  margin-top: 2em;
  list-style-type: none;
  color: rgba(255,255,255,.5);
  font-size: 1.1em;
}

.section.main_section > #welcome > #welcomeText > ul > li {
  padding: .8em 0 .8em 0;   

}

.section.main_section > #welcome > #welcomeText > ul > li:nth-child(1) {
  margin-bottom: .4em;
}

.section.main_section > #welcome > #welcomeText > ul > li:nth-child(3) {
  margin-top: .4em;
}


#about_section {
  margin-top: 5em;
  margin-bottom: 5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1em)[2];
  -ms-grid-columns: (1, 1fr);
      grid-template: repeat(2, 1em) / (1, 1fr);
  background: rgba(0,0,0,.565); 
  -webkit-box-shadow: 0 0 1.4em .38em rgba(0,0,0,.8); 
          box-shadow: 0 0 1.4em .38em rgba(0,0,0,.8);
  border-radius: 1em;
  width: 70%;
  height: 45em;
  

}

#about_section > .content {
  grid-column: 1/-1; 
  -ms-grid-row: 1; 
  grid-row: 1/1; 
  background: rgba(255,255,255,.04);
  -webkit-box-shadow: 0 0 1em .2em rgba(255,255,255,.5);
          box-shadow: 0 0 1em .2em rgba(255,255,255,.5);
  height: 60%;
  width: 50%;
  margin: 8em auto;
  border-radius: .5em;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;

}

#about_section > .content:hover{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 1em .2em rgba(255,255,255,.55);
          box-shadow: 0 0 1em .2em rgba(255,255,255,.55);
}

#about_section > .content > #content_title {
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 2em;
    background-color: rgba(0,0,0,.35);
    -webkit-box-shadow: 0 0 10px 2px rgba(255,255,255,.5);
            box-shadow: 0 0 10px 2px rgba(255,255,255,.5);
    color: rgba(255,255,255,.5);  
    border-radius: .5em .5em 0 0;
}

#about_section > .content  > p { 
    margin: 1em auto;
    width: 98%;
    text-align: center;
    line-height: 51px;
    font-size: 1.3em;
    font-family: sans-serif;
    color: rgba(255,255,255,.6);
}

@media (max-width: 1608px) {
  .loader {
      display: none;
  }
  section {
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: (50em)[2];
      -ms-grid-columns: (1, 1fr);
          grid-template: repeat(2, 50em) / (1, 1fr);
      background: rgba(0,0,0,.565); 
      -webkit-box-shadow: 0 0 1em .2em rgba(0,0,0,.9); 
              box-shadow: 0 0 1em .2em rgba(0,0,0,.9);
      border-radius: 1em;
      width: 80%;
      height: 70em;
      margin: 0 auto;
  }

  .section.main_section > #welcome {
      text-align: center;
      -ms-grid-column: 1;
      grid-column: 1/1; 
      -ms-grid-row: 1; 
      grid-row: 1/1;
      text-align: center;
      border-right: 1px solid rgba(255,255,255,.2);
  }

  .section.main_section > #description {
      -ms-grid-column: 1;
      grid-column: 1/1; 
      -ms-grid-row: 2; 
      grid-row: 2/2;
      text-align: center;
  }

    #about_section > .content {
    margin: 8em auto;
    width: 90%;
    height: 30em;
    
  }

  #about_section {
    margin-top: 5em;
    margin-bottom: 5em;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1em)[2];
    -ms-grid-columns: (1, 1fr);
        grid-template: repeat(2, 1em) / (1, 1fr);
    background: rgba(0,0,0,.565); 
    -webkit-box-shadow: 0 0 1.4em .38em rgba(0,0,0,.8); 
            box-shadow: 0 0 1.4em .38em rgba(0,0,0,.8);
    border-radius: 1em;
    width: 90%;
    height: 50em;
  
  
  }
  

  #about_section > #about_title{
      height: 1.5em;
  }

  #about_section > .content  > p { 
    margin: 3em auto;
    width: 70%;
    text-align: center;
    line-height: 45px;
    font-size: 1.3em;
    font-family: sans-serif;
    color: rgba(255,255,255,.6);
}


@media (max-width: 1438px) {
  #apiContent .famousApi {
    width: 100%;
  }
}


}

@media (max-width: 1051px) {
  .top_head {
      display: none;
  }
  #mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-right: 2em;
    background: rgba(0, 0, 0, 0.15);
    height: 28em;

}

#mobile-nav .mobile-nav-struct {
    list-style-type: none;
}

#mobile-nav .mobile-nav-struct li {
    text-transform: uppercase;
    color: rgba(255,255,255,.4);
    -webkit-box-shadow: 0 0 1em .2em rgba(255,255,255,.3);
            box-shadow: 0 0 1em .2em rgba(255,255,255,.3);
    background-color: rgba(0,0,0,.465);
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
    margin-top: 2.0em; 
    outline: none; 
    border-radius: .3em;
    font-size: 1.35em;
}

#mobile-nav .mobile-nav-struct a {
    text-decoration: none;
    color: rgba(255,255,255,.5);
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px);
   
}

#about_section > .content  > p { 
  margin: 1em auto;
  width: 98%;
  text-align: center;
  line-height: 35px;
  font-size: 1.3em;
  font-family: sans-serif;
  color: rgba(255,255,255,.6);
}
}

@media (max-width: 857px) {
  #apiContent .famousApi .people #picture div img {
    width: 300px;
    height: 170px;
    margin: .8em 1em; 
    text-align: center; 
  }
}

@media (max-width:445px) {
  #about_section {
    width: 100%;
  }
  #about_section > .content  > p { 
    margin: 1em auto;
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 1.3em;
    font-family: sans-serif;
    color: rgba(255,255,255,.6);
}
}

@media (max-width: 536px) {
  #apiContent .famousApi .people #content div {
   display: none;
}

#apiContent .famousApi .people #picture div {
  border-bottom: none;
}

#apiContent .famousApi .people #picture div img {
  margin-left: 2em;
}

}


@media (max-width: 414px) {
  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (20em)[2];
    -ms-grid-columns: (1, 1fr);
        grid-template: repeat(2, 20em) / (1, 1fr);
    background: rgba(0,0,0,.565); 
    -webkit-box-shadow: 0 0 1em .2em rgba(0,0,0,.9); 
            box-shadow: 0 0 1em .2em rgba(0,0,0,.9);
    border-radius: 1em;
    width: 100%;
    height: 70em;
    margin: 0 auto;
}

#apiContent .famousApi .people #picture div img {
  margin-left: 3.1em;
}
}

@media (max-width: 375px) {
    section {
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: (20em)[2];
      -ms-grid-columns: (1, 1fr);
          grid-template: repeat(2, 20em) / (1, 1fr);
      background: rgba(0,0,0,.565); 
      -webkit-box-shadow: 0 0 1em .2em rgba(0,0,0,.9); 
              box-shadow: 0 0 1em .2em rgba(0,0,0,.9);
      border-radius: 1em;
      width: 100%;
      height: 70em;
      margin: 0 auto;
  }
}