* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    text-align: center;
    background: rgba(0,0,0,.85);
    color: rgba(255,255,255,.7);
    padding: 25px 0px 25px 0px;
    text-transform: uppercase;
    
}

header h1 {
    
}

#navigation {
    background: rgba(16, 17, 17, 0.85);
    padding: 18px 0px 18px 0px; 
    box-shadow: 0px 0px 10px 2px rgba(8, 8, 8, 0.7); 
}

#navigation .struct {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center; 
    list-style-type: none;
    margin-left: -2.3%;
   
}


#navigation .struct a {
    color: rgba(255, 255, 255, 0.3);
    margin-left: 2%;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    transition: all 500ms ease;
}

#navigation .struct a:hover {
    color: rgba(255, 255, 255, 0.5);
    transform:translate(1px); 
}

.main_showcase .container {
   
    height: 828px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 828px; 
    text-align:center;
    border: 1px solid black;   
    margin: 0 auto;
    
}

.main_showcase .container .profile{

    background: rgba(0,0,0,.85);
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px -1px 10px 2px rgba(13, 13, 14, 0.4) inset;
  
}

.main_showcase .container .profile h1 {
   
    text-transform: uppercase;
    padding: 20px 10px 20px 10px;
    width: 70%;
    margin: 1em auto; 
    background: rgba(16, 17, 17, 0.55);
    box-shadow: 0px 0px 10px 2px rgba(182, 182, 182, 0.5);
    border-radius: 15px;
}

.main_showcase .container .content h1 {
    width: 70%;
    text-align: center;
    background: rgba(100, 99, 99, 0.15);
    color: rgba(255,255,255,.7);
    padding: 25px 0px 25px 0px;
    text-transform: uppercase;
    margin: .8em auto;
    box-shadow: 0px 0px 10px 2px rgba(182, 182, 182, 0.5);
    border-radius: 15px;
}

.main_showcase .container .profile .picture-box {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    height: 45%;
    background: rgba(30, 32, 34, 0.85);
    border: 1px solid rgba(110,110,110,.5);
    margin: 1.5em auto;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgba(182, 182, 182, 0.3);
}

.main_showcase .container .profile .picture-box img {
    height: 13em;
    width: 68%;
    margin-top: 4em;
    opacity: .4;
}

.main_showcase .container .profile .pInfo {
    display: flex;
    flex-direction: column; 
    
    background: rgba(30, 32, 34, 0.85);
    z-index: -1;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.8);
    margin: -2em auto;
    height: 30%;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(182, 182, 182, 0.3);

}

.main_showcase .container .content {
    grid-column: 2/2;
    box-shadow: 0px 1px 10px 2px rgba(13, 13, 14, 0.4) inset;
    background: rgba(0, 0, 0, 0.9);
    

}

.main_showcase .container .more {
    background: rgba(0,0,0,.85);
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px -1px 10px 2px rgba(13, 13, 14, 0.4) inset;
  
}



.main_showcase .container .content img{
    height: 62%;
    width: 100%;
    margin:  5.5em auto;
}

.main_showcase .container .content .personalInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    background: rgba(54, 54, 54, 0.3);
    box-shadow: 0px 0px 10px 2px rgba(182, 182, 182, 0.5);
    border-radius: 20px;
    transition: all 500ms ease;
    color: rgba(255, 255, 255, 0.5);
    font-family: sans-serif;
    font-size: 19px;
}

.main_showcase .container .content .personalInfo:hover {
    width: 72%;
}

.main_showcase .container .content .personalInfo p {
    margin-top: 1em; 
}
.main_showcase .container .more .social  {
    
    
    text-transform: uppercase;
    padding: 20px 10px 20px 10px;
    width: 70%;
    margin: 1em auto; 
    background: rgba(16, 17, 17, 0.55);
    box-shadow: 0px 0px 10px 2px rgba(182, 182, 182, 0.5);
    border-radius: 15px;
}

.main_showcase .container .more .btn-box {
   
    background: rgba(30, 32, 34, 0.85);
    box-shadow: 0px 0px 10px 2px rgba(182, 182, 182, 0.5);
    border-radius: 20px;
    margin: 0 auto;
    width: 60%;
    height: 60%;
}



.main_showcase .container .more .btn-box .twitter {
    margin-top: 7em; 
    background: rgba(177, 10, 10, 0.25);
    border: 1px solid rgba(22, 22, 22, 0.5);
    border-radius: 19px;
    color: rgba(255,255,255,.5);
    font-size: 17px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.5);
    height: 3em;
    width: 70%;
    outline: none;
    transition: all 500ms ease;
    
}

.main_showcase .container .more .btn-box .twitter:hover{
    background: rgba(177, 10, 10, 0.35);
    transform: translateY(2px);
    cursor:pointer;
}

.main_showcase .container .more .btn-box .facebook {
    margin-top: 1em;
    height: 3em;
    background: rgba(11, 83, 150, 0.15);
    border: 1px solid rgba(22, 22, 22, 0.5);
    border-radius: 19px;
    color: rgba(255,255,255,.5);
    font-size: 17px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.5);
    width: 70%;
    outline: none;
    transition: all 500ms ease;
}

.main_showcase .container .more .btn-box .facebook:hover{
    background: rgba(11, 83, 150, 0.25);
    transform: translateY(2px);
    cursor:pointer;
}


.main_showcase .container .more .btn-box .instagram {
    margin-top: 1em;
    height: 3em;
    background: rgba(11, 150, 64, 0.2);
    border: 1px solid rgba(22, 22, 22, 0.5);
    border-radius: 19px;
    color: rgba(255,255,255,.5);
    font-size: 17px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.5);
    width: 70%;
    outline: none;
    transition: all 500ms ease;
}

.main_showcase .container .more .btn-box .instagram:hover{
    background: rgba(11, 150, 64, 0.3);
    transform: translateY(2px);
    cursor:pointer;
}



header #edit {
    padding: 14px 55px 14px 55px; 
    position: absolute;
    margin-left: 43%;
    margin-top: -6px;
    background: rgba(206, 207, 207, 0.1);
    border: 1px solid rgba(22, 22, 22, 0.5);
    border-radius: 19px;
    color: rgba(255,255,255,.5);
    font-size: 17px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.5); 
    outline: none;
    transition: all 500ms ease; 
}

header #edit:hover {
    transform: translateY(1px);
    cursor: pointer;
}


